<div class="staff">
    {% for person in site.data.staff %}
    <div class="staff-member">
        <img class="staff-member__image" src="{{ person.image }}" alt="Image of {{ person.name }}">
        <div>
            <p class="staff-member__name">{{ person.name }}</p>
            <p>Contact options: </p>
            <ul class="staff-member__contacts">
                <li><a class="option" href="#">Email</a></li>
                <li><a class="option" href="#">Facebook</a></li>
                <li><a class="option" href="#">Twitter</a></li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>